<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
      <div class="wrapper">
          <header>

              <h1><a href="{{ site.url }}/website/">{{ site.title }}</a></h1>
              <img src="{{site.logo | relative_url}}" alt="Logo" />

              <p>{{ site.description | default: site.github.project_tagline }}</p>

              <strong><a>Rose K. Cersonsky</a><br></strong>
              &nbsp;&nbsp;&nbsp;<strong><a href="https://rosecersonsky.com/assets/Cersonsky.pdf">&#8594&nbsp;CV</a><br></strong>
              &nbsp;&nbsp;&nbsp;<strong><a href="https://www.rosecersonsky.com">&#8594&nbsp;Personal Webpage</a><br /></strong>
              <strong><a href="/website/members/">Current Group Members</a><br></strong>
              <strong><a href="/website/fun">Shenanigans</a><br></strong>
              <strong><a href="https://github.com/cersonsky-lab"> Github</a>&nbsp; | &nbsp; <a href="https://twitter.com/LabOfScience"> Twitter</a><br></strong>

          </header>
          <section>

              {{ content }}

          </section>
      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
